<%= render partial: '/header' %>

<div class="welcome-video">
	<video src="<%= asset_path 'biking.mp4' %>" autoplay loop>
</div>

<div clas="welcome-container">
	<div class="welcome-textbox">Stop spending time doing things manually and spend more time riding you bike! Automation is the way of the future</div>
</div>