// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.navbar {
	margin-bottom: 0;
}

.welcome-video {
	height: 700px;
	overflow: hidden;

	video {
		width: 100%;
		// margin-top: -25%;
	}
}