.welcome-video {
	position: absolute;
	top:52px;
	bottom:0;
	left:0;
	right:0;
	overflow: hidden;

	video {
		width: 100%;
		z-index: -10;
	}
}

.welcome-container {
	max-width: 1110px;
	margin: 10% auto 0 auto;
	padding: 15px;
}

.welcome-textbox {
	position: relative;
	width: 40%;
	height: 600px;
	z-index: 200;
	font-size: 3.0em;
	color: #fff;
	h1,h2 { line-height: 150%; }
}