// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.navbar {
	margin-bottom: 0;
}

.welcome-video {
	position: absolute;
	top:52px;
	bottom:0;
	left:0;
	right:0;
	overflow: hidden;

	video {
		width: 100%;
		z-index: -10;
	}
}

.welcome-container {
	max-width: 1110px;
	margin: 10% auto 0 auto;
	padding: 15px;
}

.welcome-textbox {
	position: relative;
	width: 40%;
	height: 600px;
	z-index: 200;
	font-size: 3.0em;
	color: #fff;
	line-height: 150%;
	font-weight: 100;
}