<div class="welcome-video">
	<video src="<%= asset_path 'biking.mp4' %>" autoplay loop>
</div>

<div class="welcome-container">
	<div class="welcome-textbox"><h1>Unofficial BTI API</h1> 
	<h2>The days of manually entering data have come and gone. It's time to let computers do the work and for you to ride your bike.</h2></div>
</div>