<div class="welcome-video">
	<video src="<%= asset_path 'biking.mp4' %>" autoplay loop>
</div>

<div class="welcome-container">
	<div class="welcome-textbox"><h1>This is an unofficial API for BTI. The days of manually entering data have come and gone. It's time to let computers do the work and for you to ride your bike.</h1></div>
</div>